.well-dn{
	display: none!important;
}
.well-inline{
	display: inline-block;
}
.well-callLine{
	border: 1px solid #eee;
	padding: 0px 5px;
}
.well-canBeCalled{
	cursor: pointer;
}
button.well-control[disabled]{
	cursor: not-allowed;
}
.well-active{
	background: #2ECC71;
    color: #fff;
}