.well-client{
	background: #f1f2ed;
	padding: 0px 10px;
}
.well-client ul{
	padding-left: 0px;
	margin: 5px;
	padding: 5px;
}
.well-client ul li{
	list-style: none;
	text-align: left;
}
.well-client ul li:hover{
	background: #C1C1BC;
	cursor: pointer;
}
.well-changestate{
	height: 23px;
	overflow: hidden;
}
.well-changestate:hover{
	overflow: visible;
}
.well-btn{
	background: transparent;
	border: none;
	height: 20px;
	cursor: pointer;
}
.well-show-state{
	background: #fff;
	border-radius: 4px;
}
.well-disabled{
	background-color: #999999 !important;
	cursor: not-allowed;
}
.well-answer{
	background: url(../img/answer.png) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
}
.well-answer-on{
	background-color: #63b962;
}
.well-drop{
	background: url(../img/drop.png) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
}
.well-drop-on{
	background-color: #e84034;
}
.well-hold{
	background: url(../img/hold.png) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
}
.well-hold-on{
	background-color: #2f94eb;
}
.well-make{
	background: url(../img/answer.png) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
}
.well-make-on{
	background-color: #63b962;
}
.well-consult{
	background: url(../img/consult.png) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
}
.well-consult-on{
	background-color: #2f94eb;
}
.well-conference{
	background: url(../img/conference.png) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
}
.well-conference-on{
	background-color: #2f94eb;
}
.well-transfer{
	background: url(../img/transfer.png) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
}
.well-transfer-on{
	background-color: #2f94eb;
}
.well-cancel{
	background: url(../img/cancel.png) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
}
.well-cancel-on{
	background-color: #2f94eb;
}
.well-single{
	background: url(../img/single.png) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
}
.well-single-on{
	background-color: #2f94eb;
}
.well-dest{
	height: 20px;
	overflow: hidden;

	background: url(../img/dest.png) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
	background-color: #2f94eb;
	display: inline-block;

}
.well-select-icon{
	width: 0px;
	height: 0px;
	border: 5px solid #fff;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	position: relative;
	top: 10px;
	left: 20px;
}
.well-dest:hover{
	overflow: visible;
}
.well-transfer-dest{
	background-color: #2f94eb;
}
.well-transfer-dest ul li:hover{
	background-color: #296290;
	cursor: pointer;
}
.well-logout{
	background: url(../img/logout.png) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
	cursor: pointer;
}
.well-login{
	background: url(../img/login.png) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
	cursor: pointer;
}
.well-agent-states{
	background: #f1f2ed;
}
.well-state-ready{
	 background: url(../img/ready.png) no-repeat 25px 1px;
}
.well-state-not-ready{
	 background: url(../img/not-ready.png) no-repeat 25px 1px;
}
.well-select-icon-state{
	width: 0px;
	height: 0px;
	border: 5px solid #000;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	position: relative;
	top: 10px;
	left: 20px;
}
.well-dn{
	display: none!important;
}
.well-login-info{
	width: 80px;
}
.well-loading{
	background: url(../img/loading.gif) no-repeat 4px 4px;
	color: #fff;
	padding-left: 20px;
	border-radius: 4px;
	cursor: pointer;
}
.well-pending{
	border: 1px solid #ffa500;
	outline: none;
}
.well-status-light{}
.well-status-light>span{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #999999;
	display: inline-block;
}
.well-status-light>.helding{
	background: #ffc107;
}
.well-status-light>.talking{
	background: #4caf50;
}